<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 使用注解的包，包括子集 -->
   <context:component-scan base-package="cn.ct.controller" />

   <mvc:annotation-driven>
   		<mvc:message-converters>
   			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
   				<property name="supportedMediaTypes">
   					<list>
   						<value>application/json;charset=UTF-8</value>
   					</list>
   				</property>
   			</bean>
   			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
   				<property name="supportedMediaTypes">
   					<list>
   						<value>text/html;charset=UTF-8</value>
   						<value>application/json</value>
   					</list>
   				</property>
   				<property name="features">
   					<list>
   						<value>WriteDateUseDateFormat</value>
   					</list>
   				</property>
   			</bean>
   		</mvc:message-converters>
   </mvc:annotation-driven>

   <mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>

	<!-- 配置多视图解析器 -->
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<!-- 是否启用参数支持，默认为true（支持），即xxx?format=json、xml等形式。 -->
		<property name="favorParameter" value="true" />
		<!-- favorPathExtension：是否支持扩展名，默认为true（支持），扩展名指xxx.json、xxx.xml等形式 -->
		<property name="favorPathExtension" value="true" />
		<!-- 默认ContentType -->
		<property name="defaultContentType" value="text/html" />
		<!-- 配置映射关系 -->
		<!--扩展名到MIME的映射；favorPathExtension, favorParameter是true时起作用  -->
		<property name= "mediaTypes">
			<value>
				json=application/json
				xml=application/xml
				html=text/html
			</value>
		</property>
	</bean>

	<!--配置首页-->
	<mvc:view-controller path="/" view-name="login"/>

	<!-- 完成视图的对应 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="order" value="0"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!--全局异常处理 -->
	<bean id="exceptionHandler" class="cn.ct.interceptor.IntegrateException"></bean>

	<!-- 配置登录验证拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/api/**"/>
			<bean class="cn.ct.interceptor.SysInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 配置文件上传  MultipartResolver-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="500000000"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
</beans>